In [1]:
pip install mySQL

Requirement already satisfied: mySQL in c:\users\hp\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\hp\anaconda3\lib\site-packages (from mySQL) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install mySQL-connector

Requirement already satisfied: mySQL-connector in c:\users\hp\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import mysql.connector

In [22]:
my_db=mysql.connector.connect(host="mysql8001.site4now.net",user="a86ca8_anbujoe",password="Qwerty@123",database="db_a86ca8_anbujoe")

In [23]:
cursor=my_db.cursor()

In [6]:
#query="create table college(Roll_No varchar(10) NOT NULL,Name varchar(20) UNIQUE,DOB date(10) UNIQUE,Address varchar(50),Ph_NO int(20),Blood_Group varchar(5))"
#cursor.execute(query)

In [24]:
#q="Show tables"
q="insert into sabana values('CSB1929','Sabana',2002-02-27,'Pattukkottai',786900448,'B+ve')"
cursor.execute(q)

In [25]:
q="insert into sabana values('CSB1917','Nithya',2002-05-27,'Trichy',1234567890,'B+ve')"
cursor.execute(q)

In [26]:
q="insert into sabana values('ECA1941','Fathi',2001-02-27,'Trichy',987654210,'B-ve')"
cursor.execute(q)

In [27]:
for i in cursor:
    print(i)

In [28]:
import pandas as pd

In [29]:
df=pd.read_sql("select * from sabana",my_db)

In [30]:
df.head()

   Roll_No    Name   DOB       Address       Ph_NO Blood_Group
0  CSB1929  Sabana  1973  Pattukkottai   786900448        B+ve
1  CSB1917  Nithya  1970        Trichy  1234567890        B+ve
2  ECA1941   Fathi  1972        Trichy   987654210        B-ve